.img-editor {
  display: none;
}
.base-layout {
  grid-template-columns: 17px 1fr 20px;
  display: grid;
}
.base-layout > .full {
  grid-column: 1 / -1;
}
.base-layout > *:not(.full) {
  grid-column: 2;
}
.show-canvas {
  display: flex;
  margin-block-end: 295px;
  margin-inline-start: 20px;
}
/* .canvas {
  object-fit: fill;
} */
.hidden {
  display: none;
}
