.gallery-img {
  width: 17.9375rem;
  height: 18.875rem;
  border-radius: 3%;
  object-fit: cover;
}
.gallery-container {
  height: 100vh;
  width: 40.1875rem;
  border-radius: 20px;
  background-color: #383b42;
}
.search-bar {
  margin-inline-start: 14px;
  margin-inline-start: 20px;
  margin-block-start: 24px;
  margin-block-end: 1.375rem;
  /* margin-block-end: 1.25rem; */

  flex-grow: 1;
  margin-inline-end: 1.25rem;
}
.search-bar input {
  background-color: #22252c;
  position: relative;
  display: inline-block;
  width: 100%;
  height: 4.375rem;
  border-radius: 29px;
}
.search-bar button {
  position: absolute;

  background-color: #22252c;
  border: none;

  left: 580px;
  top: 190px;
}
.svg {
  /* fill: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%); */
  color: white;
  width: 35px;
  height: 37px;
}

.gallery-img {
  margin-inline-start: 20px;
  width: 287px;
  height: 302px;
  margin-block-end: 1.0625rem;
}
.most-frequent {
  width: 502px;
  height: 47px;
  margin-inline-start: 1.3125rem;
  margin-inline-end: 14px;
  display: inline-block;

  margin-block-end: 3.4375rem;
  /* box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15); */
  border-radius: 23px;
  background-color: #acacac;
  color: white;
}
.most-frequent div {
  color: black;
  opacity: 1;
  display: block;
}
.more-button {
  border: none;
  margin-block-start: 7px;
  color: white;
  font-size: 17px;
  width: 5.4375rem;
  height: 2.1875rem;
  display: inline-block;
  border-radius: 17px;
  background-color: #fefefe;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}
.imgs-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* .frequent-container {
  display: flex;

  align-items: top;
} */
.list-frequent {
  display: flex;
  list-style-type: none;

  justify-content: space-evenly;
  padding: 0;
}
.list-frequent li {
  font-weight: 300;
}
.flexiable {
  width: 92px;
  height: 36px;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
  border-radius: 18px;
  background-color: #fefefe;
  background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
  border: none;
  color: white;
}
.frequent-container {
  flex-grow: 1;
  display: flex;
}
