:root {
  --grid-size: max-content;
  --header-height: 130px;
  --l: 980px;
  --m: 820px;
  --s: 100%;

  /* PALLETE */
  /* 
      --bgc-header: #292929;
      --color-bright: white;
      --color-title: #4f4e4e;
      --color-p: #606060;
      --color-buttons: #7f7f7f;
      --color-selected: #58c93a;
      --continue-reading: #c2c2c2;
      --bgc-footer: #f8f8f8;
      --color-border: #e1e0e0; */
}
